.emptyp{
  display: none;
}

.App {
  display: flex;
  justify-content: center;
}
form{
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
label, input {
  display: block;
  width: 100%;
}
label {
  padding: 0rem 1rem 1rem .75rem;
}
input {
  background-color: white;
  padding: .75em;
  border: 2px solid rgb(211, 208, 208);
}
input:hover{
  border-color: orange;
  cursor: pointer;
}
#btn {
  width: 7em;
  padding: .5rem 1.2rem ;
  background-color: black;
  color: white;
  border: none;
}

#btn:hover {
  background-color: red;
  color: white;
  cursor: pointer;
}
